.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid black;
    height:70px;
    padding:5px 10px;
}
.logo{
    width:70px;
    height:100%;
}
.nav-items>ul{
   display: flex;
  gap: 15px;
  font-size: 14px; 
  list-style-type: none;
  align-items: center;
  margin: 0;
  padding-right: 15;
}
.nav-items>ul>li{
    padding:10px;
    list-style-type:none;
    font-size:20px;
}
.nav-items{
    margin-top:0px;
}
.cart{
    width:30px;
    height:30px;
    margin:0px;
    position:relative;
}
.search{
    padding:10px;
}

.res-container{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}
.res-card{
  border: 1px solid black;
  width: 220px;
  padding: 10px;
  box-shadow: 4px 4px 8px grey;
  background-color: #f0f0f0;
  font-size: 12px; /* smaller font size than nav items */
  text-align: center;
  transition: all 0.3s ease-in-out;
  height:400px;
}

.res-card:hover{
    cursor:pointer;
    border:1px solid black;
    box-shadow: 8px 8px 16px grey;
    transform: scale(1.03);
}
.res-logo{
    width:100%;
    height:200px;
    object-fit: cover;
}
.filter{
    display: flex;
    margin:20px;
}
.filter-btn{
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.shimmer-container{
    display:flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width:200px;
    height:400px;
    margin:20px;
    background-color: #f0f0f0;
}
.btn{
    margin:10px;
    cursor:pointer;
    border: 1px solid black;
}

.user-card{
    padding:10px;
    border:1px solid black;
    
}